.App{
  position: relative;
  overflow-x: clip;
}
.App>:nth-child(1){
  background-color: red;
  position: relative;
}
.App .light{
  position: absolute;
  width: 20rem;
  height: 20rem;
  background-color: rgba(255,255,255,.522);
  filter: blur(100px);
  border-radius: 100px;
  left: 30px;
  top: 50px;
}